@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.table-scroll::-webkit-scrollbar {
  height: 8px;
}

.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: var(--color-accent-dark);
  border-radius: 999px;
}
